:root {
  --primary: #3a3a3a;
  --primary-dark: #302d2d;
  --green: #008104;
  --red: #ff0000;
  
}

body{
  background-color: var(--primary);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  width: 100%;
  max-width: 450px;
  margin-top: 70px;
}

.box {
  box-shadow: 0 0 25px rgba(117, 113, 113, 0.338);
  border-radius: 18px;
  padding: 20px;
  color: white;
  
}



h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  
}

.balance {
  text-align: center;
  margin-top: 10px;
}

.balance h2 {
  font-size: 28px;
  margin-bottom: 4px;
}

.transaction_container {
  margin-top: 20px;
  padding: 15px;
  background: var(--glass);
  border: 1px solid var(--glass-border);
  border-radius: 12px;
}

.transaction_container h3 {
  font-size: 17px;
}

.transactions {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction {
  background: #ffffff;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px #00000030;
  animation: fadeUp 0.3s ease;
}

.transaction .content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.status {
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.credit {
  background: var(--green);
  color: black;
}

.debit {
  background: var(--red);
  color: white;
}

.lower {
  display: none;
  padding: 10px;
  background: #f3f3f3;
  justify-content: center;
  gap: 25px;
}

.showTransaction {
  display: flex !important;
}

.icon img {
  width: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.icon img:hover {
  transform: scale(1.15);
}

.transaction_form {
  background: var(--glass);
  border: 1px solid var(--glass-border);
  margin-top: 20px;
  padding: 18px;
  border-radius: 15px;
  color: white;
}

.transaction_form h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form input {
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

form input:focus {
  outline: none;
  box-shadow: 0 0 20px #4bdd96a4;
  transform: scale(1.03);
  transition: 0.3s;
}

.buttons_container {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.buttons_container button {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  transition: 0.25s;
}

#earnBtn {
  background: var(--green);
  color: black;
}

#expBtn {
  background: var(--red);
}

#earnBtn:hover,
#expBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px #ffffff60;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
